/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
}

.day {
    flex-grow: 1535;
    flex-shrink: 0;
    flex-basis: 0;

    padding: 3.55% 5.9905% 4.1078%;

    box-sizing: border-box;
}

.right-pannel {
    flex: 802 0 0;
    background: rgba(42, 46, 65, 0.7);

    padding: 3.55% 4.2789% 4.1078%;
    min-height: 100vh;

    box-sizing: border-box;
}

.calendar {
    width: 100%;
}

.calendar__header {
    border-bottom: 4px solid transparent;
    padding-bottom: 10.349%;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
}

.calendar__prev-btn,
.calendar__next-btn {
    flex: 0 0 18px;
    /* height: 36px; */ /* if IE */

    display: block;
    box-sizing: border-box;

    appearance: auto;
    color: #fff;
    cursor: pointer;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;

    transition: color .6s linear 0s;
}

.calendar__next-btn:hover,
.calendar__prev-btn:hover {
    color: #f9ec3c;
}

.calendar__prev-btn-icon,
.calendar__next-btn-icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.calendar__next-btn-icon {
    transform: rotate(180deg);
}

.calendar__month-title {
    flex: 1 0 auto;

    text-align: center;

    color: #FFFFFF;
    font-size: 1.2858rem;

    display: block;
    box-sizing: border-box;
}

.calendar__day-names {
    display: flex;
}
