body {
    margin: 0;
    box-sizing: border-box;
}

.header,
.footer {
    padding: 25px 0;
    background-color: #845ec2;
    margin: 20px 0;
}

.nav {
    margin: 20px 0;
}

.nav__container-item {
    background-color: #d65db1;
    padding: 10px;
    border: 1px dashed #ffc75f;
}

.nav__container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main__item {
    padding: 0;
    background-color: #ff6f91;
    border: 1px dashed #2c73d2;
}

.main__item--a {
    padding-top: 45%;
    background-color: #ff9671;
}

.main__item--b {
    padding-top: 45%;
    background-color: #ffc75f;
}

.article__item {
    padding: 25px 0;
    background-color: #f9f871;
    border: 1px dashed #008f7a;
}

/* GRID */

/* .nav__container-item:not(:first-child) {
    margin-top: 10px;
} */

.nav__container {
    display: grid;
    gap: 10px;
}

.main {
    display: grid;
    gap: 30px;
}

.article {
    display: grid;
    gap: 10px;
}

@media (min-width: 1200px) {
    /* .nav__container {
        grid-template-columns: repeat(9, 1fr);
    }

    .main {
        grid-template-columns: 1fr 1fr;
    }

    .main__item--a {
        grid-column: 1 / -1;
    }

    .article {
        grid-column: 1 / -1;

        grid-template-columns: repeat(3, 1fr);
    } */

.nav__container {
    grid-template-columns: repeat(9, 1fr);
}

.main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a a"
        "b1 b2"
        "article article";
}

.main__item--a {
    grid-area: a;
}

.main__item--b:nth-child(2) {
    grid-area: b1;
}

.main__item--b:nth-child(3) {
    grid-area: b2;
}

.article {
    grid-area: article;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "el el el";
}
}

@media (min-width: 1600px) {
    /* .main {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 10px;
    }

    .main__item--a {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
    }

    .article {
        grid-column: span 1 / -1;
        grid-row: 1 / span 2;

        grid-template-columns: 1fr;
    } */
}
