body {
    margin: 0; /* top = right = bottom = left = 0 */
    /* margin: 0 10px; top=bottom=0; right=left=10px */
    /* margin: 0 10px 15px; top=0; right-left=10px; bottom=15px */
    /* margin: 0 1px 2px 3px 4px; */
}

#head {
    /* background-image: url("img/cover.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    background: url("img/cover.jpg") center center no-repeat;

    background-size: cover;


    width: 100%;
    min-height: 100vh;

    margin: 0;
}

.head__nav-row {
    width: 1322px;
    height: 104px;

    margin: 0 auto;
    padding-left: 136px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
}

.header__content {
    width: 1046px;

    margin: 100px auto 0;
}

.head__nav {
    display: flex;
    justify-content: flex-start;

    list-style: none;

    margin: 0;
    padding: 0;
}

/* 0, 1, 1 */
.head__nav li {
    flex-grow: 0;
    flex-basis: auto;
    margin-left: 20px;
}

/* 0, 2, 1 */
.head__nav li:first-child {
    margin-left: 0px;
}

/* .head__nav li:not(:last-child) {
    margin-right: 20px;
} */

/* .head__nav li:not(:first-child) {
    margin-left: 20px;
} */

/* .head__nav li + li {
    margin-left: 20px;
} */

.head__logo-link {
    flex-grow: 0;
    flex-basis: auto;

    margin-right: 110px;

    display: block;
}

.head__nav-row nav {
    flex-grow: 1;
    flex-basis: auto;
}

.head__nav-toggle-link {
    flex-grow: 0;
    flex-basis: auto;

    display: block;
}

.header__title {
    margin: 0;
}
