.beer {
    position: relative;

    box-sizing: border-box;

    border: 1px solid rgb(58, 57, 57);
    border-radius: 12px;

    padding: 12px;
}

.beer__image-wrapper {
    margin: 0 0 12px;

    display: flex;
    justify-content: center;
}

.beer__image {
    max-height: 150px;
}

.beer__name {
    font-size: 2em;
    margin: 0 0 12px;
}

.beer__description {
    font-size: 1.2em;
}

.beer__favor {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 24px;
    height: 24px;

    background: rgb(190, 189, 189);
    border: 1px solid rgb(105, 105, 105);

    cursor: pointer;

    transition: background-color .8s linear 0s;
}

.beer__favor:hover {
    background: rgb(250, 246, 45);
}

.beer__favor--added {
    background: rgb(250, 246, 45);
    border: 1px solid rgb(199, 186, 5);
}
